#gif-prompt {
  display: none;
}
#words-prompt {
  display: none;
}
#exclude-words {
  display: none;
}

.writing-space, .review {
  display: none;
}

#success, #failure {
  display: none;
}

.photo {
  display: none;
  width: 700px;
  height: 700px;
}
.promptResult {
  display: none;
}
.writingInput {
  display: none;
}
.userPrompt {
  display: none;
}
.pic {
  width: 300px;
  height: 300px;
}

.realIntro {
  height: 13cm;

  background-image: url("intro1.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 5cm;
}
body {
  background-color: #fff2fa !important;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  color: #6e6e6e
}

#theImg {
  height: 500px;
  width: 500px;
  float: left;
  margin-top: 1cm;
}
#theImg3 {
  height: 500px;
  width: 500px;
  float: left;
  margin-top: 10cm;
}

.proptType {
  width: 4cm;
  float: right;
  margin-top: 3cm;
  margin-right: 3cm;

}
.level {
  padding-top: 17cm;

}
#wordlimit {
  float: right;
  width: 5cm;
  margin-top: 6cm;
}
#theImg2 {
  height: 500px;
  width: 500px;
  float: right;

}
h5, h1 {
  color: #333333;
  font-weight: bold;
  font-family: Livvic, sans-serif;
}
.header {
  font-style: italic;
  color: black;
  font-size: 18px;
  text-align: left;
  display: block;
  padding-left: 1cm;
  padding-right: 1cm;
}
#draft {
  width: 600px;
  height: 300px;
}
#submit1 {
  margin-top: 9cm;
  margin-left: -2cm;

}
