#gif-prompt {
  display: none;
}
#words-prompt {
  display: none;
}
#exclude-words {
  display: none;
}

.writing-space, .review {
  display: none;
}

#success, #failure {
  display: none;
}

 .photo {
  display: none;
  width: 700px;
  height: 700px;
}
.promptResult {
  display: none;
}
.writingInput {
  display: none;
}
.userPrompt {
  display: none;
}
.pic {
  width: 300px;
  height: 300px;
}

.realIntro {
  height: 13cm;

  background-image: url("intro1.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 5cm;
}
body {
  background-color: #fff2fa !important;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  color: #6e6e6e
}

#theImg {
  height: 250px;
  width: 250px;
  float: left;
  margin-top: 1cm;
}
#theImg3 {
  height: 250px;
  width: 250px;
  float: left;
  margin-top: 6cm;
}

.proptType {
  width: 4cm;
    float: right;
      margin-top: 1cm;

}
.level {
   padding-top: 10cm;

}
#wordlimit {
    float: right;
    width: 5cm;
    margin-top: 6cm;
}
#theImg2 {
  height: 250px;
  width: 250px;
  float: right;

}
h5, h1 {
  color: black;
  font-weight: bold;
}
.header {
  color: black;
  font-size: 18px;
  text-align: left;
  display: block;
  padding-left: 1cm;
  padding-right: 1cm;
}
